table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

table tr td {
  padding: 8px;
}

/* MISC */
.max-width-large { max-width: 256px; }
.oneline { white-space: nowrap; }
.clickable { cursor: pointer; transition: box-shadow 0.15s ease;}
.clickable:hover { box-shadow: 0 0 8px black; }
.hidden { display: none; }

/* FLEX */
.flex { display: flex; }
.flex-column { flex-direction: column;; }
.flex-wrap { flex-wrap: wrap; }
.flex-align-center { align-items: center; }
.flex-space-between { justify-content: space-between;}

/* COLORS */
.brown { background-color: #ff9966; }
.fail { background-color: #FFB5A5; }
.pass { background-color: #ACFFA5; }

.tag {
  border-radius: 16px;
  padding: 5px;
  background: #6699ff;
  color: white;
  margin: 2px;
  font-size: 14px;
}

.delete-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  transition: all 0.15s ease;
}

.delete-btn:hover {
  opacity: 0.7;
}

.card {
  border-radius: 8px;
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
}

.card-dotted {
  border-radius: 4px;
  border: 1px dashed black;
  margin: 4px;
  padding: 16px;
  color: gray;
}

.noclick {
   pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.drag-shadow {
  position: fixed;
  opacity: 0.8;
}

.colorful {
  animation: colorful 3s infinite;
}

@keyframes colorful {
  0%   {
    background: rgba(255,255,255,0);
  }
  50%  {
    background: rgba(0,0,255,0.25);
  }
  100% {
    background: rgba(255,255,255,0);
  }
}
