html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
}

* {
    font-family: 'Arvo', serif;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

table tr td {
  padding: 8px;
}

/* MISC */
.max-width-large { max-width: 256px; }
.oneline { white-space: nowrap; }
.clickable { cursor: pointer; transition: box-shadow 0.15s ease;}
.clickable:hover { box-shadow: 0 0 8px black; }
.clickable:focus { box-shadow: 0 0 8px black; }
.hidden { display: none; }
.hide { display: none; }
.height16 { height: 16px; }
.height100 { height: 100%; }
.width100 { width: 100%; }
.scrollable { overflow: scroll; position: relative; }


/* FLEX */
.flex { display: flex; }
.flex-column { flex-direction: column;; }
.flex-wrap { flex-wrap: wrap; }
.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }
.flex-space-between { justify-content: space-between;}
.flex-expand { flex: 1; }
.flex-center {
  align-items: center;
  justify-content: center;
}

/* Cells */
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.cell.column {
  flex-direction: column;
}

.cell.column > .cell {
  width: 100%;
}

.cell.row > .cell {
  height: 100%;
}

/* COLORS */
.brown { background-color: #ff9966; }
.white { background-color: white; }
.blue { background: rgba(0, 0, 200, 0.8); }
.fail { background-color: #FFB5A5; }
.pass { background-color: #ACFFA5; }
.skip { background-color: #e6e600; }
.primary { background-color: #ff9966; }
.id-color { background-color: red; }
.kind-color { background-color: green; }
.key-color { background-color: violet; }
.filter-color { background-color: gray; }
.tag-color { background-color: lightblue; }

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 4px black;
}

.stacktrace {
    background: #d6d6c2;
    color: #33331a;
    padding: 4px;
    border-radius: 4px;
}

.modal {
  background: rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.tag {
  border-radius: 16px;
  padding: 5px;
  color: white;
  margin: 2px;
  font-size: 14px;
}

.delete-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  transition: all 0.15s ease;
}

.delete-btn:hover {
  opacity: 0.7;
}

.card {
  border-radius: 8px;
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
}

.card-dotted {
  border-radius: 4px;
  border: 1px dashed black;
  margin: 4px;
  padding: 16px;
  color: gray;
}

.noclick {
   pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.drag-shadow {
  position: fixed;
  opacity: 0.8;
}

.colorful {
  animation: colorful 3s infinite;
}

@keyframes colorful {
  0%   {
    background: rgba(255,255,255,0);
  }
  50%  {
    background: rgba(0,0,255,0.25);
  }
  100% {
    background: rgba(255,255,255,0);
  }
}
